/backend/app/.env

/backend/firebase.json

**/.vite/
/dist/
*.local
/node_modules/
/frontend/node_modules/
/frontend/.env
f.txt
f1.txt
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.vite/deps/react-dom_client.js
frontend/node_modules/.vite/deps/react-router-dom.js
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/react-dom_client.js
node_modules/.vite/deps/react-router-dom.js