.scheduleAndBuddiesComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todaysCommuteScedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */

}
.scheduleMain{
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color:black;
}

.fullTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

#titleBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#editScheduleId{
    font-size: 15px;
    border: none;
    background-color:rgba(240, 248, 255, 0);

}

#editScheduleId:hover {
    transform: translateY(-2px);
}

#editScheduleId:active {
    transform: translateY(2px);
}

#newRouteButton{
    width: 30%;
    padding: 5px;
    border-radius: 20px;
    background-color: #769EB8;
    color: white;
    border-color: #769EB8;
    font-size: 15px;
}

.scheduleAndBuddiesComponent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}