.mainCommuteRoutes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.CommuteRoutes{
    justify-content: center;
    align-items: center;
}

.commuteTimes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.writtenInputs div{
    margin: 0;
}

/* .savedRoutes{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
} */

.routes{
    display: flex;
    flex-direction: row;
    float: left;
}

/* #horizontalLine{
    width: 100%;
    float: left;
    height: 1px;
    background-color: #5D576A;
    border: none;  
    margin-top: 20px;
} */

#mapsLogo{
    width: 500px;
    padding: 0;
    margin: 0;
}

#mapAndButton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: -20px;

    width: 100%;
    height: 100%;
}

#newRouteButton{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: #769EB8;
    color: white;
    border-color: #769EB8;
    font-size: 15px;
}

.savedRoutesNew{
    display: flex;
    flex-direction: column;
  
    width: 400px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin-top: 20px;
  }
  
  #horizontalLineNew{
    width: 100%;
    float: left;
    height: 1px;
    background-color: #5D576A;
    border: none;  
    margin-top: 20px;
  }

  #thisRoute{
    background-color:#769eb800;
    border-color: #769eb800;
}

#thisRoute:hover {
    background-color: #b3c5d76a;
}

.routeOptions{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

#text{
    margin-bottom: -10px;
}

#options{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#addCommuteBuddies,
#individualCheckBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#dropdown{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#buttonOptions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}

#button{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    color: white;
    border-color: #769EB8;
    font-size: 15px;
}

#button:hover {
    transform: translateY(-2px);
}

#button:active {
    transform: translateY(2px);
}

