.savedRoutes{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

#horizontalLine{
    width: 100%;
    float: left;
    height: 1px;
    background-color: #5D576A;
    border: none;  
    margin-top: 20px;
}
