.login, .signup{
    background-color: #769EB8;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(20vh, 15%, 40vh);
}

.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#welcomeText{
    margin-left: 50px;
}


#welcomeText h3, 
#welcomeText h1 {
    margin: 0;
}

#welcomeText h3{
    font-size: clamp(20px, 2.5vw, 40px);
}

#welcomeText h1{
    font-size: clamp(40px, 5vw, 80px);
}

.log-in-container,
.sign-up-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    gap: 15px;
}

.emailpassInput p,
.emailpassInput input{
    margin: 0;
    height: 30px;
    color: #5D576A;
    border-radius: 0px;
    width: 200px;
}

.emailpassInput input{
    border-color: #B3C5D7;
    filter: opacity(50%);
    border-style: solid;
}

#login-button,
#create-account {
    display: flex;
    justify-content: center;
    background-color: #769EB8;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#sign-up-link > p{
    color: #769EB8;
    text-align: center;
    margin: 0px;
}

@media (max-width: 1250px) {
    .login, .signup{
        gap: clamp(10vh, 5%, 20vh);
    }
}

@media (max-width: 1155px) {
    .login, .signup{
        gap: clamp(5vh, 5%, 10vh);
    }
    .log-in-container, .sign-up-container{
    
        padding: 40px;
    }
}

@media (max-width: 1155px) {
    .login, .signup{
        gap: 50px;
        
    }
    .log-in-container, .sign-up-container{
        padding: 40px;
        /* margin-left: -20px; */
    }
}

@media (max-width: 1000px) {
    .login, .signup{
        gap: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .train {
        display: none;
    }
    #welcomeText {
        text-align: center;
        margin-left: 0px!important;
    }
    .log-in-container, .sign-up-container{
        padding: 40px;
        /* margin-left: -20px; */
    }
}