.scheduleAndBuddiesComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todaysCommuteScedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */

}
.scheduleMain{
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color:black;
}

.fullTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}

#titleBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#editScheduleId{
    font-size: 18px;
}

#line{

}