.signup{
    background-color: #769EB8;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(20vh, 20%, 40vh);
}

.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#welcomeText h3, 
#welcomeText h1 {
    margin: 0;
}

#welcomeText{
    margin-left: 50px;
}

#welcomeText h3{
    font-size: clamp(20px, 2.5vw, 40px);
}

#welcomeText h1{
    font-size: clamp(40px, 5vw, 80px);
}

#trainImage{
    width: clamp(200px, 40vw, 600px); /* Min: 200px, scales with viewport, Max: 600px */
    height: auto;
}

.sign-up-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: clamp(30px, 5vw, 60px);
    border-radius: 10px;
    width: 15%;
   
}

#emailpassInput p,
#emailpassInput input{
    margin: 0;
    /* width: 100%; */
    color: #5D576A;
}

#createAccount{
    display: flex;
    justify-content: center;
    background-color: #769EB8;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

#emailpassInput input{
    border-color: #769EB8;
    border-style: solid;
}

@media (max-width: 1250px) {
    .signup{
        gap: clamp(10vh, 5%, 20vh);
    }
}

@media (max-width: 1155px) {
    .signup{
        gap: clamp(5vh, 5%, 10vh);
    }
    .sign-up-container{
    
        padding: 40px;
    }
}

@media (max-width: 1155px) {
    .signup{
        gap: 50px;
    }
    .sign-up-container{
    
        padding: 50px;
        margin-left: -20px;
    }
}

@media (max-width: 1000px) {
    .signup{
        gap: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .sign-up-container{
    
        padding: 40px;
        /* margin-left: -20px; */
    }
    .train {
        display: none;
    }
    #welcomeText {
        text-align: center;
        margin-left: 0px!important;
    }
}

@media (max-width: 800px) {
    .signup{
        gap: 70px;
    }
    .sign-up-container{
    
        padding: 40px;
        /* margin-left: -20px; */
    }
}

/* .sign-in-button {
    display: flex;
    justify-content: center;
    background: #769eb8;
    text-decoration: none;
} */